@font-face {
  font-family: Neue Haas Unica;
  src: url("NeueHaasUnicaW1G-Regular.ttf");
}

body {
  font-family: Neue Haas Unica;
  background: #111112;
  color: #f5f5f7;
  margin: 0;
  padding: 16px;
}

h1 {
  text-align: center;
}

input[type="text"] {
  font-family: Neue Haas Unica;
  background-color: #111112;
  border: 0;
  font-size: 32px;
  display: block;
}

input[type="text"]:focus {
  outline: none;
  border: 0;
  color: white;
}

.task-section {
  margin-top: 20px;
}

#taskInput {
  width: 90%;
  margin: 24px 0;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .button-container {
    grid-template-columns: 1fr;
  }

  input[type="text"] {
    font-size: 24px;
  }
}

#addTaskButton,
#clearTasksButton {
  display: inline-block;
  padding: 20px 20px;
  background-color: #1F1F1F;
  border-radius: 4px;
  border: none;
  color: #f5f5f7;
  cursor: pointer;
  font-family: Neue Haas Unica;
  font-size: 18px;
}

#addTaskButton:hover,
#clearTasksButton:hover {
  background-color: #292929;
}

.task {
  font-size: 24px;
  padding: 24px;
  border-radius: 4px;
  border: 0;
  background-color: #1F1F1F;
  margin: 5px 0;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover {
  background-color: #292929;
}

.task.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.task.done {
  text-decoration: line-through;
  color: #888888;
}

.completed-task-list {
  margin-top: 20px;
}
